repos:
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.4.1
  hooks:
  - id: mypy
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.7.0
  hooks:
  - id: nbqa-isort
  - id: nbqa-mypy
    args: [--ignore-missing-imports]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.10.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
    files: ^.*\.(cfg|CFG|ini|INI)$
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-json
  - id: pretty-format-json
    args: [--autofix, --no-sort-keys, --indent=4]
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-executables-have-shebangs
  - id: end-of-file-fixer
